/*! modern-normalize v1.0.0 https://github.com/sindresorhus/modern-normalize */

@import 'node_modules/modern-normalize/modern-normalize.css';

/* font */

@font-face {
  font-family: 'Netflix Sans';
  src: url('./fonts/NetflixSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* global styles */

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #333;
}
